body{
    background: rgb(0, 0, 0) url(https://wallpapers.com/images/hd/arcade-background-grglua7cbwpl138i.jpg)
    no-repeat bottom right;

  font-family : "Press Start 2P", system-ui;
  font-weight : 400;
  font-style : normal; 
    margin: 0;
  overflow-x: auto;
}

.page {
  width: 1700px; 
  margin: 0 auto;
}

h1{
    font-size: 85px;
    color: #5fff02;
    margin-bottom: 50px;
    text-align: center;
}

h2{
    font-size: 50px;
    color: rgb(255, 0, 187);
    text-align: center;
    margin-top: 90px;
}

p{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 80px;
}

h3{
    font-size: 30px;
    color:rgb(255, 0, 187);
    text-align: center;
    margin-top:90px;
}

hr{
    border: none;
    border-top: 9px dotted rgb(3, 209, 255);
    margin-top: 10px 0 30px;
}

.float {
  animation: float 3s infinite;
}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

 h4{font-size: 30px;
    color:rgb(255, 60, 1);
    text-align : center;
    margin-top: 200px;
    width: 700px;
    border : 7px dotted rgb(255, 221, 0);
    margin: 0 auto;
    padding: 10px 18px;
 }

 h5{font-size: 40px;
    color:rgb(43, 255, 0);
    text-align: center;
    margin-top: 80px;
 }

 h6{font-size: 30px;
    color:white;
    text-align: center;
     margin-top: 60px;
 }

 h7{
    font-size: 30px;
    color:white;
    text-align: center;
     margin-top: 80px;
 }

 h8{
     font-size: 30px;
    color:white;
    text-align: center;
     margin-top: 80px;
 }

 ul{
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    list-style-position: inside;
    line-height: 1.8;
    margin-top: 50px;
 }

 img.one,img.two,img.three,img.four{
margin-bottom: -20px;
position : center;
}